.banner-container{

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;


  .banner-section{
    display: block;
    justify-content: center;
    height: 22vw;
    width: 50vw;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    color: #FFFFFF;


    h1{
      text-align: center;
    }

  }

}