

.header-section{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
  padding: 10px 0;



  .logo-blog{
    cursor: pointer;

    img {
      max-width: 100px;
    }
  }

  .text-blog{


    align-items: center;
    h1{
      color: #61dafb;
      font-size: 24px;
      font-weight: 500;
      padding: 10px 0;
    }
  }
}