.Other-days-component{

  width: 100%;
  height: 170px;
   display: flex;
  position: relative;
  margin: 10px -10px;
  justify-content: center;
  color: #FFFFFF;


    .other-days-section{
      width: 20%;
      position: relative;
      z-index: 2;
      padding: 10px;

      .blod-card{


        background-color: #61dafb;
        height: 10rem;
      }

      }


}