
.tapbar-container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 2rem;


  .tapbar-section{
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 0 5px;


    .noActive{
      cursor: pointer;

    }

    .active{
      background-color: #61dafb;
      cursor: pointer;
    }


    li{
      padding: 10px 5px;
      list-style-type: none;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
}