




.weather-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  margin-top: -5rem;

  .weather-temp{
    font-weight: 100;
    position: relative;
    h1{
      font-size: 100px;;
    }
  }
  .weather-center{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;

    .weather-momnet{
      font-size: 1rem;
      margin-top: 2rem;
    }
  }



  .weather-mean{
    width: 25%;
    position: relative;
    z-index: 2;
    background-color: rgba(0,0,0,.4);
    padding: 10px;
    box-sizing: border-box;

    .weather-seaction{
      padding: 0;
      display: block;
      text-align: left;
      li{
        list-style-type: none;
        align-items: flex-start;
        padding: 5px;

      }
    }
  }



}







